{% extends "base.html" %}

{% block title %}
    Home
{% endblock %}

{% block main %}
    <h1>Football Frenzy!</h1>
    <h4>Footy Tic-Tac-Toe Solver</h4>
    <form class="row justify-content-center" method="POST">
        <div class="col-4 m-4">
            <label for="team1input" class="col-4">Team 1</label>
            <input type="text" class="form-control mb-4" id="team1input" name="team1input">
            <label for="team2input" class="col-4">Team 2</label>
            <input type="text" class="form-control" id="team2input" name="team2input">
            <div class="px-4 mt-4">
              <button class="col-8">Solve</button>
            </div>
        </div>
    </form>

    <script>
        const club_names = {{ club_names | tojson }};
        new Awesomplete(document.getElementById("team1input"), {
          list: club_names
        });

        new Awesomplete(document.getElementById("team2input"), {
          list: club_names
        });
      </script>
{% endblock %}